body {
    min-height: 100vh;
    margin: 0px auto;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  header {
    background-color: #A6A59F;
    flex-grow: 1;
  }
  
  footer {
    background-color: #A6A59F;
    flex-grow: 1;
    display: flex;
  }
 
  main {
    flex-grow: 8;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .topnav {
    }
   .bottom {
    justify-content: space-around;
    align-items: center;
  }
  .content {
    flex-grow: 8;
  }
  
  @media only screen and (max-width: 500px) {
    main {
      flex-direction: column;
    }
    
    .ads {
      order: -1;
    }
  }